/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --bodybg-main: #d0d4c5;
  --headerbg-main: #2C341B;
  --accent: #97AC82;
  --accent-dark: #688a65;
  --link: #D0D4C5;
  --link-dark: #2C341B;
  --black: 15, 18, 25;
  --white: rgba(242, 255, 242, 1);
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
  font-family: "InterRegular";
  src: url("/fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UnnaBold";
  src: url("/fonts/unna-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "InterRegular", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bodybg-main);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;

}

main {
  min-width: calc(100% - 2em);
  display: grid;
  grid-template: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "UnnaBold", sans-serif;
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--accent);
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

img#homeHero {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.swsweeper_logo {
  aspect-ratio: 2 / 1;
  max-height: 100%;
  max-width: 100%;
}

.basePage h1 {
  text-align: center;
}

section#sweeper_cat {
  margin: 2em 0;
  display: flex;
  justify-content: space-evenly;
  gap: 4px;
}

#sweeper_cat a {
  color: var(--link-dark);
  text-decoration: none;
}

#sweeper_cat a:hover {
  color: var(--accent-dark);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

img#streetSweep,
img#parkingLotSweep,
img#industrialSweep {
  max-width: 330px;
  max-height: 330px;
}

#logos ul {
  display: flex;
  align-items: end;
}

#logos li {
  list-style-type: none;
  margin-right: 2em;
}

img.product-logo {
  max-width: 200px;
}

.sm_pic_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.products {
  display: grid;
  gap: 0 1.5em;
}

.products img {
  height: 200px;
  width: 300px;
  grid-column: 1;
}

.products p {
  grid-column: 2;
}

.tricol {
  column-count: 3;
}

section.rental_table h2 {
  text-align: center;
}

.rental_table {
  overflow: auto;
  width: 100%;
}

.rental_table table {
  border: 1px solid rgb(var(--black));
  height: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.rental_table caption {
  caption-side: top;
  text-align: center;
  font-weight: 800;
}

.rental_table th {
  border: 1px solid rgb(var(--black));
  background-color: #eceff1;
  color: rgb(var(--black));
  padding: 5px;
}

.rental_table td {
  border: 1px solid rgb(var(--black));
  padding: 5px;
}

.rental_table tr:nth-child(even) td {
  background-color: var(--accent);
  color: rgb(var(--black));
}

.rental_table tr:nth-child(odd) td {
  background-color: var(--accent-dark);
  color: rgb(var(--black));
}

table.rentals {
  margin: 1em 0;
}

.footnotes {
  font-size: 1rem;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}