---
import AboutHeroImage from "../images/blog-placeholder-1.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Southwest Sweeper Sales"
  description="History of Southwest Sweeper Sales"
  pubDate={new Date("December 06 2025")}
>
  <p>
    The story of Southwest Sweeper Sales begins with the immigration of Dimitris
    Zannis from an island in the east Mediterranean of Greece, Xios. This is
    where he built his foundation of life, family and work ethic. He arrived in
    Arizona on February 22, 1975 with great expectations to become successful.
    Immediately after he arrived, the birth of Dimitris Service Company began
    with a push broom and shovel in the parking lot at a shopping center.
  </p>

  <p>
    His first business struggled as most first businesses do, however, Dimitris'
    determination eventually led to the purchase of the first riding sweeper in
    1977. The company incorporated in 1985 as Dimsco Inc and grew exponentially
    into a multi-million dollar company with a large fleet of sweepers. Dimitris
    decided to retire in April 2000 and sold Dimsco Inc. Not one to sit around,
    Dimtris decided to find an alternative to contract sweeping - selling
    sweepers.
  </p>

  <p>
    Southwest Sweeper Sales was established in November 2000 more or less as
    happenstance. What started out as a hobby grew into a successful business.
    Today Southwest Sweeper Sales sells and supports six different product lines
    nationally and internationally with a full-time sales staff, maintains a
    full service shop on and off-site, has a comprehensive parts department for
    all makes and models and is continuing to expand.
  </p>
</Layout>
