---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Equipment"
  description="Equipment that Southwest Sweeper Sales has listed"
  pubDate={new Date("October 15 2025")}
>
  <section class="products">
    <img src="/images/swsweeper-logo-4.png" alt="logo" />
    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
      cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
      Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
      libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
      pulvinar proin gravida. Egestas integer eget aliquet nibh praesent
      tristique magna.
    </p>
  </section>

  <section class="products">
    <img src="/images/swsweeper-logo-2.png" alt="logo" />
    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
      cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
      Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
      libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
      pulvinar proin gravida. Egestas integer eget aliquet nibh praesent
      tristique magna.
    </p>
  </section>

  <section class="products">
    <img src="/images/swsweeper-logo-1a.png" alt="logo" />
    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
      cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
      Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
      libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
      pulvinar proin gravida. Egestas integer eget aliquet nibh praesent
      tristique magna.
    </p>
  </section>

  <section class="products">
    <img src="/images/swsweeper-logo-1.png" alt="logo" />
    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
      cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
      Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
      libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
      pulvinar proin gravida. Egestas integer eget aliquet nibh praesent
      tristique magna.
    </p>
  </section>

  <section class="products">
    <img src="/images/swsweeper-logo-3.png" alt="logo" />
    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
      cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
      Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
      libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
      pulvinar proin gravida. Egestas integer eget aliquet nibh praesent
      tristique magna.
    </p>
  </section>

  <section class="products">
    <img src="/images/swsweeper-logo-5.png" alt="logo" />
    <p>
      Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus
      imperdiet. Id porta nibh venenatis cras sed felis eget velit. Ipsum a arcu
      cursus vitae. Facilisis magna etiam tempor orci eu lobortis elementum.
      Tincidunt dui ut ornare lectus sit. Quisque non tellus orci ac. Blandit
      libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed
      pulvinar proin gravida. Egestas integer eget aliquet nibh praesent
      tristique magna.
    </p>
  </section>
</Layout>
