---
import AboutHeroImage from "../images/blog-placeholder-1.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Inventory"
  description="Our stock we currently have on-hand"
  pubDate={new Date("December 06 2025")}
>
  <p>
    Our inventory is always revolving. Please call our office to inquire on what we currently have in stock. Thank you.
  </p>
</Layout>
