---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Parts/Service"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
>
  <p>
    Our parts department stocks a complete inventory of parts and equipment to support the sweepers that we sell and perform maintenance on. Customers are welcome to order parts for pick up and on occasion for delivery. We have available parts for these machines:</p>

      <ul class="tricol">
        <li>Allianz</li>
        <li>Athey</li>
        <li>American Lincoln</li>
        <li>Bucher</li>
        <li>Elgin</li>
        <li>Johnston</li>
        <li>Madvac</li>
        <li>MASCO / Mr Air</li>
        <li>Mobil</li>
        <li>Nilfisk - Advance</li>
        <li>Nite-hawk</li>
        <li>PowerBoss</li>
        <li>Python</li>
        <li>RSS</li>
        <li>Schwarze</li>
        <li>SK Sweepers</li>
        <li>Skavin&apos;jer</li>
        <li>Sweeprite</li>
        <li>Tennant</li>
        <li>Trek</li>
        <li>Tymco</li>
        <li>Victory</li>
        <li>And many others</li>
      </ul>
</Layout>
