---
// import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Rental Rates"
  description="What we rent out and pricing"
  pubDate={new Date("December 06 2025")}
>
  <section class="rental_table" role="region" tabindex="0">
    <table class="rentals">
      <caption>Sweepers</caption>
      <thead>
        <tr>
          <th>Description</th>
          <th>Daily</th>
          <th>Weekly</th>
          <th>Monthly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Walk-Behind</td>
          <td>$316</td>
          <td>$948</td>
          <td>$3,318</td>
        </tr>
        <tr>
          <td>Industrial Rider</td>
          <td>$578</td>
          <td>$1,734</td>
          <td>$6,069</td>
        </tr>
        <tr>
          <td>Parking Lot Truck Mounted</td>
          <td>$516</td>
          <td>$1,548</td>
          <td>$5,418</td>
        </tr>
        <tr>
          <td>Street, Regenerative, Mechanical broom &amp; Vacuum</td>
          <td>$1,298</td>
          <td>$3,894</td>
          <td>$13,629</td>
        </tr>
      </tbody>
    </table>

    <table class="rentals">
      <caption>Scrubbers</caption>
      <thead>
        <tr>
          <th>Description</th>
          <th>Daily</th>
          <th>Weekly</th>
          <th>Monthly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Walk-Behind</td>
          <td>$496</td>
          <td>$1,488</td>
          <td>$5,208</td>
        </tr>
      </tbody>
    </table>

    <table class="rentals">
      <caption>Sweeper / Scrubbers</caption>
      <thead>
        <tr>
          <th>Description</th>
          <th>Daily</th>
          <th>Weekly</th>
          <th>Monthly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Industrial Rider</td>
          <td>$800</td>
          <td>$2,400</td>
          <td>$8,400</td>
        </tr>
      </tbody>
    </table>

    <table class="rentals">
      <caption>Trailers</caption>
      <thead>
        <tr>
          <th>Description</th>
          <th>Daily</th>
          <th>Weekly</th>
          <th>Monthly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Trailer</td>
          <td>$266</td>
          <td>$798</td>
          <td>$2,793</td>
        </tr>
      </tbody>
    </table>
    <p class="footnotes">
      * Fuel charge &ndash; Southwest Sweeper rates: $39 each tank (applies to
      units delivered full of fuel and returned to Southwest Sweeper Sales less
      than full.
    </p>
    <p class="footnotes">
      * Local delivery & pickup &ndash; round trip $155 (this covers 80 miles
      for complete delivery & pickup), $2.00 each additional mile.
    </p>
    <p class="footnotes">
      * Note: All prices are subject to change without notice. Overtime rates
      may apply.
    </p>
  </section></Layout
>
